body {
    font-family: Arial;
    background: #f0f0f0;
    padding: 20px;
}

h1 {
    text-align: center;
}

.card {
    background: white;
    padding: 20px;
    width: 60%;
    margin: auto;
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
}

.btn {
    display: inline-block;
    padding: 10px;
    background: blue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.btn:hover {
    background: darkblue;
}
